<script id="home-template" type="text/x-handlebars-template">
  <div class="{{ELEMENTS_CLASS.HOME_CONTAINER}}">
  <div class="{{ELEMENTS_CLASS.HOME_OVERLAY}}"></div>
  <div class="{{ELEMENTS_CLASS.HOME_HEADER}}">PUSHART</div>
  <div class="{{ELEMENTS_CLASS.HOME_BUTTONS}}">
    <a class="{{ELEMENTS_CLASS.HOME_BUTTON}}" id="loginButton">Войти</a>
  </div>
  </div>
</script>
