<div class="{{ELEMENTS_CLASS.BACKGROUND_LOGIN}}">
  <div class="{{ELEMENTS_CLASS.LOGIN_CONTAINER}}">
    <button class="{{ELEMENTS_CLASS.CLOSE_BTN}}" onclick="goToPage(state.menuElements.home)">x</button>
    <h2>Вход</h2>
    
    <form id="loginForm" onsubmit="handleSubmit(event)">
      <input type="text" id="inputLogin" placeholder="Введите email или имя пользователя" required>
      <i class="{{ELEMENTS_CLASS.PASSWORD_EYE}}" onclick="togglePasswordVisibility()">👁️</i>
      <input type="password" id="inputPassword" placeholder="Введите пароль" required>
      <input type="submit" value="Войти">

      <div class="{{ELEMENTS_CLASS.SIGNUP_LINK}}">
        У вас нет аккаунта? <a href="#" onclick="goToPage(state.menuElements.signup)">Зарегистрируйтесь</a>
      </div>
    </form>
  </div>
</div>

