<div class="{{homeContainer}}">
  <div class="{{homeOverlay}}"></div>
  <div class="{{homeHeader}}">PUSHART</div>
  <div class="{{homeButtons}}">
    <a id="loginButton" class="{{homeButton}}">Войти</a>
  </div>
</div>
