<div class="{{ELEMENTS_CLASS.BACKGROUND_LOGIN}}">
  <div class="{{ELEMENTS_CLASS.LOGIN_CONTAINER}}">
    <button class="{{ELEMENTS_CLASS.CLOSE_BTN}}">x</button>
    <h2>Вход</h2>
    <form>
      <input type="text" id="inputLogin" placeholder="Введите email или имя пользователя" required />
      <i class="{{ELEMENTS_CLASS.PASSWORD_EYE}}">&#128064;</i>
      <input type="password" id="inputPassword" placeholder="Введите пароль" required />
      <input type="submit" id="submitButton" value="Войти" />
    </form>
    <div class="{{ELEMENTS_CLASS.SIGNUP_LINK}}">
      У вас нет аккаунта? <a href="#" id="registerLinkAnchor">Зарегистрируйтесь</a>
    </div>
  </div>
</div>
